body {
	font-family: "Times New Roman", Times, serif;
}
h1 {
	color: #878787;
	font-size: 24px;
	font-weight: 100;
	line-height: 28px;
	margin-bottom: 0;
}
ul {
	margin: 0;
	padding: 0;
}
li {
	list-style: none;
	padding: 0;
	margin: 0;
	color: rgb(135, 135, 135);
	font-size: 16px;
	font-weight: 100;
	line-height: 19px;
}
li:first-letter {
	text-transform: capitalize;
}
.weather-app-wrapper {
	max-width: 600px;
	margin: 30px auto;
}
.weather-app {
	border-radius: 5px;
	padding: 20px;
	border: 1px solid #dadde1;
	background: linear-gradient(to top, #c1dfc4 0%, #deecdd 100%);
}
.overview {
	margin-bottom: 20px;
}
.weather-temp #icon {
	margin-right: 5px;
	height: 64px;
	width: 64px;
}
.weather-temp strong {
	color: rgb(33, 33, 33);
	font-size: 64px;
	line-height: 1;
	font-weight: 400;
}
.weather-temp .units {
	position: relative;
	font-size: 16px;
	top: -34px;
}
.weather-temp .active {
	color: rgb(33, 33, 33);
	cursor: default;
}
.weather-temp .active:hover {
	text-decoration: none;
}
.weather-forecast {
	margin-top: 20px;
	color: #000;
	text-align: center;
}
.weather-forecast-date {
	font-size: 16px;
	opacity: 0.5;
}
.min-temp {
	opacity: 0.5;
}
.weather-forecast-temp {
	font-size: 13px;
}
