body {
	font-family: "Times New Roman", Times, serif;
	text-align: center;
	display: block;
	margin: 0 auto;
	color: #202124;
	font-size: 12px;
	font-weight: 400;
}
ul {
	list-style: none;
	margin: 5px 0 10px;
	padding-left: 0;
}
li {
	text-align: center;
	display: block;
	margin: 5px 0 10px;
	font-size: 16px;
	line-height: 18px;
	color: #202124;
}
form {
	display: block;
	margin: 0 auto;
}
.weather-app {
	display: block;
	margin: 140px auto;
	border-radius: 5px;
	padding: 10px 22px;
	border: 1px solid #202124;
	max-width: 600px;
	background-color: #f7f7f2;
	color: #202124;
}
.number {
	font-size: 64px;
	font-weight: bold;
	text-align: center;
	line-height: 1;
	color: #202124;
}
.row .col {
	line-height: 28px;
	text-align: center;
	padding: 3px;
	width: auto;
	font-size: 16px;
}

.col-auto {
	padding: 5px;
}
.degrees {
	display: ruby-text;
	font-size: 18px;
	font-weight: 520;
	line-height: 3;
	padding-bottom: 20px;
	margin: 0 auto;
}
.smog {
	font-size: 48px;
	padding: 0;
}

#city {
	font-size: 22px;
	font-weight: 600;
}
#date {
	font-size: 22px;
	font-weight: 600;
}
